Connected to Python 3.13.5

In [ ]:
dic = {'name': 'pay',}

In [ ]:
dic = {
    'name': 'pay',
    'phone': '010-9999-1234',
    'birth': '1118'}

In [ ]:
print(dic)

{'name': 'pay', 'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
a = {1:'hi'}

In [ ]:
a

{1: 'hi'}

In [ ]:
a = {
    'a': [1,2,3]


}

In [ ]:
a

{'a': [1, 2, 3]}

In [ ]:
a = {1:'a'}

In [ ]:
a[2] = 'b'

In [ ]:
a

{1: 'a', 2: 'b'}

In [ ]:
a[2]

'b'

In [ ]:
a[1]

'a'

In [ ]:
a[0]

KeyError: 0

In [ ]:
a['name'] = 'pey'

In [ ]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [ ]:
a[name]

NameError: name 'name' is not defined

In [ ]:
a['name']

'pey'

In [ ]:
a[3] = [1,2,3]

In [ ]:
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [ ]:
del a[1]

In [ ]:
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [ ]:
a = {
    'name': 'pay',
    'phone': '010-9999-1234',
    'birth': '1118'}

In [ ]:
a[3] = [1,2,3]

In [ ]:
a

{'name': 'pay', 'phone': '010-9999-1234', 'birth': '1118', 3: [1, 2, 3]}

In [ ]:
a['age'] = 19

In [ ]:
a

{'name': 'pay',
 'phone': '010-9999-1234',
 'birth': '1118',
 3: [1, 2, 3],
 'age': 19}

In [ ]:
del a[3]

In [ ]:
a

{'name': 'pay', 'phone': '010-9999-1234', 'birth': '1118', 'age': 19}

In [ ]:
grade = {
    'pay': 10,
    'julliet': 99}

In [ ]:
grade['pay']

10

In [ ]:
grade['julliet']

99

In [ ]:
a = {'name': 'pay', 'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
a

{'name': 'pay', 'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [ ]:
b = a.keys()

In [ ]:
b

dict_keys(['name', 'phone', 'birth'])

In [ ]:
type(b)

dict_keys

In [ ]:
print(b)

dict_keys(['name', 'phone', 'birth'])

In [ ]:
for k in a.keys():
    print(k)

name
phone
birth

In [ ]:
list(a.keys())

['name', 'phone', 'birth']

In [ ]:
a.values()

dict_values(['pay', '010-9999-1234', '1118'])

In [ ]:
list(a.values())

['pay', '010-9999-1234', '1118']

In [ ]:
a.items()

dict_items([('name', 'pay'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [ ]:
a.c

AttributeError: 'dict' object has no attribute 'c'

In [ ]:
a.c

AttributeError: 'dict' object has no attribute 'c'

In [ ]:
a.clear()

In [ ]:
a

{}

In [ ]:
a = {'name': 'pay', 'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
a.get('name')

'pay'

In [ ]:
a

{'name': 'pay', 'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
a.get('nokey')

In [ ]:
a.get('nokey', 'foo')

'foo'

In [ ]:
'name' in a

True

In [ ]:
'email' in a

False

In [ ]:
dic = a

In [ ]:
dic

{'name': 'pay', 'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
dic = aaa

NameError: name 'aaa' is not defined

In [ ]:
dic = 'aaa'

In [ ]:
dic

'aaa'

In [ ]:
dic = {
    'name': '홍길동',
    'birth': 1128,
    'age': 30
}

In [ ]:
dic

{'name': '홍길동', 'birth': 1128, 'age': 30}

In [ ]:
s1 = set([1,2,3])

In [ ]:
s1

{1, 2, 3}

In [ ]:
s2 = set("Hello")

In [ ]:
s2

{'H', 'e', 'l', 'o'}

In [ ]:
s2 = set("Helloh")

In [ ]:
s2

{'H', 'e', 'h', 'l', 'o'}

In [ ]:
s1 = set([1,2,3,4,5,6])

In [ ]:
s2 = set([4,5,6,7,8,9])

In [ ]:
s1 & s2

{4, 5, 6}

In [ ]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1 - s2

{1, 2, 3}

In [ ]:
s2 - s1

{7, 8, 9}

In [ ]:
s1 = set([1,2,3])

In [ ]:
s1.add(4)

In [ ]:
s1

{1, 2, 3, 4}

In [ ]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [ ]:
s1 = set([1,2,3])

In [ ]:
s1.remove(2)

In [ ]:
s1

{1, 3}

In [ ]:
a = True

In [ ]:
b=False

In [ ]:
type(a)

bool

In [ ]:
1 == 1

True

In [ ]:
2> 1

True

In [ ]:
2< 1

False