In [2]:
def add(a, b):
    return a + b

In [4]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [5]:
def add(a, b):
	result = a+b
	return result # a+ b 결과값 리턴

In [6]:
a = add(3, 4)
print(a)

7

In [7]:
def say():
	return 'Hi'

In [8]:
say()

'Hi'

In [9]:
def add(a, b):
	print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [10]:
add(3,4)

3, 4의 합은 7입니다.

In [12]:
a = add(3,4)

3, 4의 합은 7입니다.

In [13]:
print(a)

None

In [14]:
def say():
	print('Hi')

In [16]:
def sub(a, b):
	return a - b

In [17]:
result = sub(a = 7, b = 3)
print(result)

4

In [18]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [19]:
result = add_many(1,2,3)
print(result)

6

In [20]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [25]:
result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

15

In [26]:
result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

120

In [27]:
def print_kwargs(**kwargs):
	print(kwargs)

In [28]:
print_kwargs(a = 1)

{'a': 1}

In [29]:
print_kwargs(name = 'foo', age = 3)

{'name': 'foo', 'age': 3}

In [30]:
def add_and_mul(a,b):
    return a+b, a*b

In [31]:
result = add_and_mul(3,4)

In [32]:
result

(7, 12)

In [34]:
result1, result2 = add_and_mul(3,4)

In [35]:
result1

7

In [36]:
result2

12

In [38]:
def say_nick(nick):
	if nick == '바보':
		return
	else:
		print("나의 별명은 %s입니다." % nick)

In [39]:
say_nick('부드러운 비누 스푸')

나의 별명은 부드러운 비누 스푸입니다.

In [40]:
say_nick('바보')

In [41]:
def say_myself(name, age, man=True):
    print("나의 이름은 %s입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [42]:
say_myself("일준", 27)

나의 이름은 일준입니다.
나이는 27살입니다.
남자입니다.

In [43]:
say_myself("일준", 27, True)

나의 이름은 일준입니다.
나이는 27살입니다.
남자입니다.

In [44]:
say_myself("일준", 27, False)

나의 이름은 일준입니다.
나이는 27살입니다.
여자입니다.

In [45]:
a = 1
def vartest(a):
	a = a + 1
	return a
a = vartest(a) # 함수의 리턴값을 함수 밖의 변수 a에 대입
print(a)

2

In [ ]:
a = 1
def vartest(a):
	a = a + 1
	return a
a =vartest(a) # 함수의 리턴값을 함수 밖의 변수 a에 대입
print(a)

2

In [48]:
a =vartest(a)
print(a)

3

In [49]:
a =vartest(a)
print(a)

4

In [50]:
add = lambda a, b: a + b
result = add(3, 4)

In [51]:
print(result)

7